<div class="allRecommendations">
    <div class="recommendation">
        <h2>Temperatur</h2>
        <mat-progress-bar mode="determinate" value={{scoreTemp}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Niederschlag</h2>
        <mat-progress-bar mode="determinate" value={{scorePrec}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Regen</h2>
        <mat-progress-bar mode="determinate" value={{scoreRain}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Schnee</h2>
        <mat-progress-bar mode="determinate" value={{scoreSnow}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Schneetiefe</h2>
        <mat-progress-bar mode="determinate" value={{scoreSnowDepth}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Windgeschwindigkeit 10m</h2>
        <mat-progress-bar mode="determinate" value={{scoreWind10m}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Windgeschwindigkeit 100m</h2>
        <mat-progress-bar mode="determinate" value={{scoreWind100m}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Windböe</h2>
        <mat-progress-bar mode="determinate" value={{scoreWindGust}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Überschwemmungsgefahr</h2>
        <p>normal</p> <p style="background-color: orange;">mittel</p> <p>hoch</p>  
    </div>

    <div class="recommendation">
        <h2>Sturm</h2>
        <p style="background-color: gold;">normal</p> <p>mittel</p> <p>hoch</p>  
    </div>

    <div class="recommendation">
        <h2>Hagel</h2>
        <p>normal</p> <p>mittel</p> <p style="background-color: red;">hoch</p>  
    </div>
    
</div>


<div class="appointment">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> Lassen Sie sich beraten!</mat-card-title>
          <mat-card-subtitle>Buche Sie Ihre Beratung direkt Online bei AXA.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button href="https://www.axa.ch" target="_blank">Buchung</a>
        </mat-card-actions>
      </mat-card>
</div>
