<div class="allRecommendations">
    <div class="recommendation">
        <h2>Temperatur</h2>
        <p *ngIf="scoreTemp < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreTemp >= 33.3 && scoreTemp <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreTemp > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreTemp}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Niederschlag</h2>
        <p *ngIf="scorePrec < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scorePrec >= 33.3 && scorePrec <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scorePrec > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scorePrec}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Regen</h2>
        <p *ngIf="scoreRain < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreRain >= 33.3 && scoreRain <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreRain > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreRain}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Schnee</h2>
        <p *ngIf="scoreSnow < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreSnow >= 33.3 && scoreSnow <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreSnow > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreSnow}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Schneetiefe</h2>
        <p *ngIf="scoreSnowDepth < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreSnowDepth >= 33.3 && scoreSnowDepth <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreSnowDepth > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreSnowDepth}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Windgeschwindigkeit 10m</h2>
        <p *ngIf="scoreWind10m < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreWind10m >= 33.3 && scoreWind10m <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreWind10m > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreWind10m}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Windgeschwindigkeit 100m</h2>
        <p *ngIf="scoreWind100m < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreWind100m >= 33.3 && scoreWind100m <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreWind100m > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreWind100m}}></mat-progress-bar>
    </div>

    <div class="recommendation">
        <h2>Windböe</h2>
        <p *ngIf="scoreWindGust < 33.3" style="background-color: gold;">normal</p>
        <p *ngIf="scoreWindGust >= 33.3 && scoreWindGust <= 66.6" style="background-color: orange;">mittel</p>
        <p *ngIf="scoreWindGust > 66.6" style="background-color: red;">hoch</p>

        <mat-progress-bar mode="determinate" value={{scoreWindGust}}></mat-progress-bar>
    </div>

    
</div>


<div class="appointment">
      <mat-card class="booking" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Lassen Sie sich beraten!</mat-card-title>
          <mat-card-subtitle>Buche Sie Ihre Beratung direkt Online bei AXA.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button href="https://www.axa.ch/de/privatkunden/kontakt-services/kontakt/allgemeiner-kontakt.html#beratung" target="_blank" style="background-color: rgb(0, 0, 143); color: white">Buchen -></a>
        </mat-card-actions>
      </mat-card>
</div>
