.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container mat-form-field {
  margin-right: 10px;
  width: 300px; /* Adjust the width as needed */
}

.search-container button {
  padding: 0 16px;
  font-size: 1em;
}