.search-container {
  text-align: center;
  margin-top: 0;
}

.search-title-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}

.centered-title {
  margin-top: 0;
  text-align: center;
  font-size: 36px;
}

.search-container mat-form-field {
  margin-right: 10px;
  width: 50%;
  /* Adjust the width as needed */
}

.search-container button {
  padding: 0 16px;
  margin-bottom: 15px;
  font-size: 1em;
}

.search-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted;
  pointer-events: auto;
}

.square {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.legend-text {
  color: black;
  background: white;
  padding: 5px;
  border-radius: 3px;
}