.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container mat-form-field {
  margin-right: 10px;
  width: 50%; /* Adjust the width as needed */
}

.search-container button {
  padding: 0 16px;
  margin-bottom: 15px;
  font-size: 1em;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}