<div class="container text-center">
  <div class="header">
    <h1>AXA Terraguard</h1>
  </div>
  <div class="content">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Was ist AXA Terraguard eigentlich? </mat-panel-title>
          <mat-panel-description>  </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<img src="../assets/images/background2.jpg" style="width: 100%;">


<app-map></app-map>
<app-appointment-form></app-appointment-form>